<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body class="body-home">
<div class="container">
  <!--Large Poster-->
  <div class="row">
    <!--Empty row-->
    <div class="col-md-3 col-sm-3"></div>
    <!--Center row-->
    <center class="col-md-6 col-sm-3">
      <!--Heading-->
        <h1 class="title">i has physics</h1>
        <h2 class="subtitle">Make music with others.</h2>
    </center>
  </div>
  <!--Login Sign Up Widget-->
  <div class="row">
    <!--Empty row-->
    <div class="col-md-4 col-sm-4"></div>
    <!--Center row-->
    <center class="col-md-4 col-sm-4 center-home">
      <!--Start accordion-->
      <div class="panel-group" id="accordion">
        <!--Login Panel-->
        <div class="panel panel-default">
          <!--Panel Heading-->
          <div class="panel-heading">
            <h1 class="panel-title">
              <a class="log-sign" data-toggle="collapse" data-parent="#accordion" href="#login">Login</a>
            </h1>
          </div>
          <!--Panel Content-->
          <div id="login" class="panel-collapse collapse in">
            <div class="panel-body">
              <!--Login Form-->
              <form role="form" accept-charset="UTF-8" action="/login" method="post">
                <input name="utf8" type="hidden" value="&#x2713;" />
                <%= token_tag nil %>
                <!--Username-->
                <div class="form-group">
                  <label class="sr-only" for="session_username">Username:</label>
                  <input type="text" class="form-control input" id="session_username" name="session[username]" placeholder="Enter Username">
                </div>
                <!--Password-->
                <div class="form-group">
                  <label class="sr-only" for="session_password" >Password:</label>
                  <input type="password" class="form-control input" id="session_password" placeholder="Enter Password">
                </div>
                <!--Login Button-->
                <button type="submit" class="btn btn-primary btn-block" name="commit">Login
                </button>
              </form>
            </div>
          </div>
        </div>
        <!--Sign Up Panel-->
        <div class="panel panel-default">
          <!--Panel Heading-->
          <div class="panel-heading">
            <h1 class="panel-title">
              <a class="log-sign" data-toggle="collapse" data-parent="#accordion" href="#signup">Sign Up</a>
            </h1>
          </div>
          <!--Panel Content-->
          <div  id="signup" class="panel-collapse collapse">
            <div class="panel-body">
              <!--Sign Up Form-->
              <form role="form" action="/users" class="new_user" id="new_user" method="post">
                <input name="utf8" type="hidden" value="&#x2713;" />
                  <%= token_tag nil %>
                <!--Username-->
                <div class="form-group">
                  <label class="sr-only" for="user_name">Username:</label>
                  <input type="text" class="form-control input" id="user_username" placeholder="Enter Username" name="user[username]">
                </div>
                <!--Email-->
                <div class="form-group">
                  <label class="sr-only" for="user_rmail">Email:</label>
                  <input type="text" class="form-control input" id="user_email" placeholder="Enter Email" name="user[email]">
                </div>
                <!--Password-->
                <div class="form-group">
                  <label class="sr-only" for="user_password">Password:</label>
                  <input type="password" class="form-control input" id="user_password" placeholder="Enter Password" name="user[password">
                </div>
                <!--Password Authentication-->
                <div class="form-group">
                  <label class="sr-only" for="password" >Password Authentication:</label>
                  <input type="password" class="form-control input" id="user_password_confirmation" placeholder="Re-Enter Password" name="user[password_confirmation">
                </div>
                <!--Sign Up Button-->
                <button type="submit" class="btn btn-primary btn-block" name="commit">Sign Up
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </center>
  </div>
</div>
</body>
</html>