body {
	padding-top: 70px;
	background-color: #333333;
}
.dropdown-menu {
	padding: 10px 0 10px 0;
	text-align: center;
}
#news-feed {
	background-color: #555555;
	border-radius: 3px;
}

#left-menu, #updates {
	margin: 30px 0px 20px 0px;
}