.body_login {
	background: url("background.jpg") fixed no-repeat center;
	background-size: cover;
}
.center_login {
	padding-top: 10%;
	opacity: 0.8;
}

.log-sign {
	font-size: 20px;
}

.log-sign:link, .log-sign:active, .log-sign:visited, .log-sign:hover, .log-sign:focus{
	text-decoration: none;
};