.body-home {
	background: url("background.jpg") fixed no-repeat center;
	background-size: cover;
}
.center-home {
	padding-top: 10%;
	opacity: 0.8;
}

.log-sign {
	font-size: 20px;
}

.log-sign:link, .log-sign:active, .log-sign:visited, .log-sign:hover, .log-sign:focus{
	text-decoration: none;
}

.body-main {
	padding-top: 70px;
	background-color: #333333;
}

.dropdown-menu {
	padding: 10px 0 10px 0;
	text-align: center;
}

.contents, .data  {
	background-color: #555555;
	border-radius: 3px;
}

.menu {
	padding: 0;
	margin: 0;
}

.menu-list {
	padding: 0;
}

.list-group-item:first-child {
	border-radius: 0;
}

.updates {
	margin: 30px 0 20px 0;
}

.tabs {
	margin-top: 30px;
}