/* General Styling */
/*a, a:link, a:active, a:visited, a:hover, a:focus {
	color: #ffffff;
	text-decoration: none;
}

.btn-primary {
	background-color: #000000;
	border-color: #000000;
}

.btn-primary[disabled] {
	background-color: #222222;
	border-color: #000000;
}
*//* Header Styling */
/*.navbar {
	background-color: #000000;
}
*/


/* Editor Page Styling */

.editor {
	resize: none;
	min-height: 400px;
}

.editor-render {
	background-color: #ffffff;
	max-height: 850px;
	min-height: 850px;
	overflow: scroll;
	padding-left: 50px;
}