<% provide(:title, "About Harmony") %>
<body class="body-about">
<%= render "layouts/header" %>
<div class="container-fluid">
  	<div class="col-md-2"></div>
    <div class="col-md-8 data">
    	<center>
   		<h1 class="tut-title">About Harmony</h1>

		<h4 class="tutfont">Harmony is a web app designed to bridge the gap in online collaborative sheet music composition.
		It seeks to remove barriers such as distance by providing a realtime music score editor that can be accessed by fellow composers from around the world.</h4><br/>


		<h4 class="tutfont">Created by Liang, Monde, Justin, a group of physics-minded MIT students with a <a href="http://www.thesaurus.com/browse/disposition">cup of tea</a> for music.</h4>
		<h4 class="tutfont">Created for the MIT 6.470 Web Programming Competition.</h4><br/>
		<h4 class="tutfont">Contact us at <a href="mailto:harmony@mit.edu">harmony@mit.edu</a>!</h4>
		</center>
	</div>
	<div class="col-md-2"></div>
</div>
</body>