<% provide(:title, "About Harmony") %>
<body>
<%= render "layouts/header" %>
<div>
<h1>About Harmony</h1>

Harmony is a web app designed to bridge the gap in online collaborative sheet music composition.
It seeks to remove barriers such as distance by providing a realtime music score editor that can be accessed by fellow composers from around the world.

Liang, Monde, Justin. Images + cool graphics might come at some point.
</div>
</body>