<!DOCTYPE html>
<html lang="en">
<head>
  <title>Editor</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <!--<script src="abcjs_editor_1.12-min.js" type="text/javascript"></script>-->
</head>

<body class="body-main">
<!--Navbar-->
<%= render "layouts/header" %>
<div class="container-fluid">
  <!--Editor-->
  <div class="col-md-4">
    <textarea class="form-control editor" id="editor-input"></textarea>
  </div>
  <!--Editor Render-->
  <div class="col-md-6 editor-render">
    <div id="sheet-music"></div>
    <div id="warnings"></div>
    <!--<script src="editor.js" type="text/javascript"></script>-->
  </div>
  <!--Chatbox-->
  <div class="col-md-3 chatbox">
    <!--Chatlog-->
    <div class="chatlog">

    </div>
    <!--SMS-->
    <div class="SMS">

    </div>
  </div>
</div>
</body>