<% provide(:title, "Editor") %>

<body class="body-main">
<!--Navbar-->
<%= render "layouts/header" %>
<div class="container-fluid">
  <!--Editor-->
  <div class="col-md-4">
    <textarea class="form-control editor" id="editor-input"></textarea>
  </div>
  <!--Editor Render-->
  <div class="col-md-6 editor-render">
    <div id="sheet-music"></div>
    <div id="warnings"></div>
  </div>
  <!--Chatbox-->
  <div class="col-md-3 chatbox">
    <!--Chatlog-->
    <div class="chatlog">

    </div>
    <!--SMS-->
    <div class="SMS">

    </div>
  </div>
</div>
</body>