div.player {
    background-color: #fff;
}
div.player #capsule {
    background: #222222;
    overflow: hidden;
    width: 100%;
    display: inline-block;
    height: 34px;
}
div.player #capsule #cursor {
    background: #ff0000;
    width: 0;
    display: inline-block;
    height: 100%;}
div.player span.time {
    position: relative;
    padding: 0 10px;
    width: 40px;
    display: inline-block;
    text-align: right;
}

.button input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label {
    border: 1px solid red;
}