/*------------------------------------------------PIANO-----------------------------------------------------*/

#piano-container {
    float: right;/* Make this div as wide as its contents */
    height: 750px;
    overflow: scroll;
}

#piano {
    position: relative;
    width: 150px;
    padding-bottom: 50px;
}

#white-keys {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    
}

#black-keys {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}


#note-lengths div {
    display: inline-block;
    height: 45px;
    width: 40px;
    background: #FFF;
    border: outset;
}