@import "bootstrap-sprockets";
@import "bootstrap";

/* General Styling */
.btn-block {
	background-color: #333333;
	border-color: #000000;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}

.btn-block:hover, .btn-block:focus {
	background-color: #777;
	border-color: #000000;
}

/* Home Page Styling */
.body-home {
	background: url("background.jpg") fixed no-repeat center;
	background-size: cover;
}

.heading-home {
	padding-top: 5%;
}

.title {
	font-family: 'Raleway', sans-serif;
	font-size: 60px;
	font-weight: 300;
	color: #ffffff;
}

.subtitle {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	font-weight: 400;
	color: #777;
}

.center-home {
	padding-top: 5%;
	opacity: 0.8;
}

.log-sign .log-sign:link, .log-sign:active, .log-sign:visited, .log-sign:hover, .log-sign:focus{
	text-decoration: none;
	font-size: 16px;
}

/* Header Styling */
nav {
	padding: 0 3% 0 2%;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-right {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}

.body-main {
	padding-top: 70px;
	background-color: #DCDCDC;;
}

/* Dashboard Styling */

a.list-group-item {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color: #000000;
}

.btn .btn-primary {
	background-color: #333333;
	border-color: #000000;
	border-radius: 0;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color: #ffffff;
}

.btn .btn-primary:hover, .btn .btn-primary:focus {
	background-color: #777;
	border-color: #000000;
}

.btn .btn-default {
	background-color: #ffffff;
	border-color: #000000;
	border-radius: 0;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color: #000000;
}

/* Editor Page Styling */

.editor {
	resize: none;
	min-height: 400px;
}

.editor-render {
	background-color: #ffffff;
	max-height: 850px;
	min-height: 850px;
	height: 850px;
	overflow: scroll;
	padding-left: 50px;
}

.sheet-music {
	margin: auto;
}

/* Error page */

#error_explanation {
  color: red;
  text-align: left;
  ul {
    color: red;
    margin: -10px -50px 20px -20px;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.alert-danger {
  outline: -5px 0px -50px 0px;
}