<h1>New Project</h1>

<%= render 'form' %>
<script>
var fBaseRef = new Firebase('https://brilliant-fire-2071.firebaseio.com/')
var newProjectRef = fBaseRef.push();
newProjectRef.set({'text': 'T: Random title'});
var path = newProjectRef.toString()
</script>

<%= link_to 'Back', projects_path %>
